appdirs==1.4.4
argon2-cffi==20.1.0
asgiref==3.2.7
cffi==1.14.0
cfgv==3.1.0
Django==2.2.11
DjangoSEO==1.0
gunicorn==19.9.0
Jinja2==2.10.3
Pillow==7.1.2
pre-commit==2.6.0
psycopg2==2.8.5
psycopg2-binary==2.8.5
python-dateutil==2.8.1
pytz==2020.1
six==1.14.0
sqlparse==0.3.1
urllib3==1.25.9
virtualenv==20.0.27
